<h2>Messages (SMS/IM)</h2>
<%= link_to 'New message', new_user_messaging_path(current_user), :class => 'special' %>
<br/><br/>

<div id="messages" data-id="<%= @user.id %>">
  <%= render @messagings %>
</div>

<br/>

<%= will_paginate @messagings %>

<script type="text/javascript">
  $(function() {
      if($("#messages").length > 0 && $(".pagination em").html() == "1") {
          setTimeout(updateMessages, 60000);
      }
  });

  function updateMessages() {
      var user_id = $("#messages").attr("data-id");
      var after = $(".message:first-child").attr("data-time");
      $.getScript("/users/" + user_id + "/messagings.js?after=" + after);
      setTimeout(updateMessages, 60000);
  }
</script>
