div.header, div.footer {
    padding: 0.5em;
    color: #cccccc;
    background-color: #333333;
    clear: left;
}

h1.header {
    padding: 0;
    margin: 0;
}

body {
    background-color: #000000;
    color: #cccccc;
    font-size: 14px;
    font-family: "Arial";
}

h1 {
    color: #cccccc;
    font-size: 20px;
}

a:link, a:visited {
    color: #cccccc;
    font-size: 13px;
    font-family: "Arial";
}

table {
    border-collapse: collapse;
}

table, tr, th, td {
    font-size: 13px;
    font-family: "Arial";
    border: 1px solid #666666;
    padding: 4px;

}

div.container {
    width: 100%;
    margin: 0px;
    line-height: 150%;
}

div.description {
    float: left;
    width: 70%;
    margin: 0;
    padding: 1em;
}

div.login {
    padding: 1em;
}

form.login {
    width: 20%;
    float: left;
    text-align: left;
    margin-right: 0.5em;
    display: block
}
